@page "/Controls"

<div cless="row col-12">
    <div class="col-sm-6">
        <RadzenFieldset>
            <HeaderTemplate>
                <RadzenBadge Shade="Shade.Dark" Text="Light Controls" Style="font-size:medium" />
            </HeaderTemplate>
            <ChildContent>
                <div class="row col-12 py-3">
                    <div class="col-sm-4">
                        <RadzenLabel Text="Kitchen Light" />
                    </div>
                    <div class="col-sm-4">
                        <RadzenIcon Icon="lightbulb" IconStyle="IconStyle.Light" />
                    </div>
                    <div class="col-sm-4">
                        <RadzenSwitch/>
                    </div>
                </div>
                <div class="row col-12 py-3">
                    <div class="col-sm-4">
                        <RadzenLabel Text="Bedroom Light" />
                    </div>
                    <div class="col-sm-4">
                        <RadzenIcon Icon="lightbulb" IconStyle="IconStyle.Success" />
                    </div>
                    <div class="col-sm-4">
                        <RadzenSwitch />
                    </div>
                </div>
                <div class="row col-12 py-3">
                    <div class="col-sm-4">
                        <RadzenLabel Text="Garage Light" />
                    </div>
                    <div class="col-sm-4">
                        <RadzenIcon Icon="lightbulb" IconStyle="IconStyle.Light" />
                    </div>
                    <div class="col-sm-4">
                        <RadzenSwitch />
                    </div>
                </div>
                <div class="row col-12 py-3">
                    <div class="col-sm-4">
                        <RadzenLabel Text="Outside Lights" />
                    </div>
                    <div class="col-sm-4">
                        <RadzenIcon Icon="lightbulb" IconStyle="IconStyle.Success" />
                    </div>
                    <div class="col-sm-4">
                        <RadzenSwitch />
                    </div>
                </div>
            </ChildContent>
        </RadzenFieldset>
    </div>
    <div class="col-sm-6">
        <RadzenFieldset>
            <HeaderTemplate>
                <RadzenBadge Shade="Shade.Dark" Text="Other Controls" Style="font-size:medium" />
            </HeaderTemplate>
            <ChildContent>
                <div class="row col-12 py-3">
                    <div class="col-sm-4">
                        <RadzenLabel Text="Garage Door" />
                    </div>
                    <div class="col-sm-4">
                        <RadzenTextBox />
                    </div>
                    <div class="col-sm-4">
                        <RadzenSwitch />
                    </div>
                </div>
                <div class="row col-12 py-3">
                    <div class="col-sm-4">
                        <RadzenLabel Text="Gate" />
                    </div>
                    <div class="col-sm-4">
                        <RadzenTextBox />
                    </div>
                    <div class="col-sm-4">
                        <RadzenSwitch />
                    </div>
                </div>
                <div class="row col-12 py-3">
                    <div class="col-sm-4">
                        <RadzenLabel Text="Small Gate" />
                    </div>
                    <div class="col-sm-4">
                        <RadzenTextBox />
                    </div>
                    <div class="col-sm-4">
                        <RadzenSwitch />
                    </div>
                </div>
                <div class="row col-12 py-3">
                    <div class="col-sm-4">
                        <RadzenLabel Text="Set Temperature Value" />
                    </div>
                    <div class="col-sm-4">
                        <RadzenTextBox />
                    </div>
                    <div class="col-sm-4">
                        <RadzenSwitch />
                    </div>
                </div>
            </ChildContent>
        </RadzenFieldset>
    </div>
</div>
@code {

}
